.angle-container {
    display: none;
    flex-direction: column;
}

.angle-container > input {
    margin-bottom: 1.5rem;
}

button {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.sides-container > input {
    margin-bottom: 1.5rem;
}

.result {
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
}

.sides-container {
    display: none;
    flex-direction: column;
}

.result-container {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

:root {
    --primary-color: cadetblue;
}

.non-bullet {
    list-style: none;
}

.non-bullet-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.container {
    max-width: 50%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding-bottom: 11.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 0.75rem;
}

.navigation .list-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation .nav-list {
    text-align: right;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.1rem;
}

.navigation .link-active {
    font-weight: bold;
}

.link{
    color: white;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

